// This file contains configuration of Niot butterfly wheather client.
// The file is formattet as JSON+comments. For parsing commented JSON,
// refer to https://github.com/getify/JSON.minify.
{
    // URL to query for wheather alerts
    "serviceUrl": "http://alerts.weather.gov/cap/us.php?x=0",
    // Parameter object to pass to CAP parser. For details see source file
    // cap-parser.js.
    "parserParameters": {
        // Keyword to search for in event descriptions
        "keywords": ["Tornado","Thunderstorm","Flood"],
        // Urgency levels considered urgent
        "urgent": ["Expected","Immediate"],
        // Severy levels considered urgent
        "severe": ["Severe","Extreme"]
    },
    // Time between queries for weather information, given in milliseconds.
    // If the previous query has not completed during the interval, the system
    // will wait for another interval, as many times as is needed to get some
    // kind of response.
    "queryInterval": 5000
}
